<nav>
    <a href="/">Home</a>
    {% if request.user.is_authenticated %}
        <a href="/settings">Settings</a>
        <a href="/vehicles">Vehicles</a>
        <a href="/history">History</a>
        <a href="/metrics">Metrics</a>
        <a href="/statistics">Statistics</a>
        <a href="/fillups/add?next={{ request.get_full_path|urlencode }}">Add Fill-Up</a>
        <a href="/auth/signout">Sign Out</a>
    {% else %}
        <a href="/auth/signin">Sign In</a>
        <a href="/auth/signup">Sign Up</a>
    {% endif %}
</nav>
