{% load static %}
<nav class="primary">
    <a class="brand" href="/"><img class="icon" src="{% static 'icons/car.svg' %}" alt=""> Fuel Tracker</a>
    <a href="/"><img class="icon" src="{% static 'icons/home.svg' %}" alt=""> Home</a>
    {% if request.user.is_authenticated %}
        <a href="/vehicles"><img class="icon" src="{% static 'icons/car.svg' %}" alt=""> Vehicles</a>
        <a href="/history"><img class="icon" src="{% static 'icons/history.svg' %}" alt=""> History</a>
        <a href="/metrics"><img class="icon" src="{% static 'icons/chart.svg' %}" alt=""> Metrics</a>
        <a href="/statistics"><img class="icon" src="{% static 'icons/chart.svg' %}" alt=""> Statistics</a>
        <a class="right" href="/settings"><img class="icon" src="{% static 'icons/settings.svg' %}" alt=""> Settings</a>
        <a class="btn btn-primary" href="/fillups/add?next={{ request.path|urlencode }}"><img class="icon" src="{% static 'icons/plus.svg' %}" alt=""> Add Fill-Up</a>
        <a class="btn btn-secondary" href="/account/export"><img class="icon" src="{% static 'icons/download.svg' %}" alt=""> Export data (CSV)</a>
        <a class="btn btn-danger" href="/account/delete"><img class="icon" src="{% static 'icons/trash.svg' %}" alt=""> Delete account</a>
        <a class="btn btn-ghost" href="/auth/signout"><img class="icon" src="{% static 'icons/logout.svg' %}" alt=""> Sign Out</a>
    {% else %}
        <a class="right btn btn-secondary" href="/auth/signin"><img class="icon" src="{% static 'icons/user.svg' %}" alt=""> Sign In</a>
        <a class="btn btn-primary" href="/auth/signup"><img class="icon" src="{% static 'icons/plus.svg' %}" alt=""> Sign Up</a>
    {% endif %}
</nav>
